<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Ingreso de llave API AA</title>
  <link rel="stylesheet" href="/assets/templates/estilos.css">
</head>

<body>
  <div id="agrupar">
    <header id="cabecera">
      <h1>Bienvenido a Informes Cimáticos AA</h1>
      <h2>Traido a ustedes por : Arturo González Peñaloza y Emilio Arsenio Raudry Rico</h2>
    </header>

      <nav id="menu">
      </nav>

      <section id="seccion">
	<article>
	  <header>
	    <h1>Ingrese su llave api</h1>
	  </header>
	  <form action="/acceso/" method="post">
	    <label for="llave-api">Llave api:</label>
	    <input type="text" id="llave-api" name="llave-api" />
	    <button type="submit">Enviar</button>
	  </form>
	</article>
	</section>

      <footer id="pie">
	<p>Universidad Nacional Autónoma de México</p>
	<p>Facultad de Ciencias</p>
	<p>Modelado y Programación 2022</p>
      </footer>
      
  </div>
</body>
</html>
