<!DOCTYPE html>
<html lang="es">

  <head>
    <title>Informe climático AA</title>
    <link rel="stylesheet" href="/assets/templetas/estilos.css">
  </head>

  <body>

    <div id="agrupar">

      <header id="cabecera">
	<h1>Bienvenido a Informes Cimáticos AA</h1>
	<h2>Traido a ustedes por : Arturo González Peñaloza y Emilio Arsenio Raudry Rico</h2>
      </header>

      <nav id="menu">
      </nav>
      <section id="seccion">

	<article>
	  <header>
	    <h1>He aquí los climas solicitados de acuerdo a los tickets ingresados</h1>
	  </header>
	  Aquí va la tabla esa chafa con sus botones  y lo demás.
	</article>
      </section>

      <footer id="pie">
	<p>Universidad Nacional Autónoma de México</p>
	<p>Facultad de Ciencias</p>
	<p>Modelado y Programación 2022</p>
	  </footer>

    </div>
  </body>
</html>
